<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have received your order, <%= @user.name %></h1>
    <p>
      Thank You for shopping with us!<br>
    </p>
  </body>
</html>
